root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 160
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Compose functions use PascalCase convention
ktlint_function_naming_ignore_when_annotated_with = Composable
# Disable property-naming to allow _backingField convention
ktlint_standard_property-naming = disabled
