*.iml
.gradle
.kotlin
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.aab_
*.dex
*.class
bin
gen
out
.navigation
*.log
*.hprof
*.keystore
!debug.keystore
